.logomargin{

    margin: 100px;
}
.bgimage{
    background-image:url(Images/Sun.jpg);
    height: 800px;
    background-size: cover;
background-repeat: no-repeat;
background-position: center;

}
/* .pad{ */
    padding: 00px;

}
/* .overlay{ */
    background: rgba(0, 0, 0, 0.1);
}
.first{
    text-align: center;
    text-size-adjust: 50px;
}
.headline{
    text-align: center;
    color: rgb(105, 26, 1);
    font-size: 50px;
}
.hero{
    text-align: center;
            color: aliceblue;
            font-size: 50px;
            padding: 140px 0px 0px 0px;
}
.para{
    text-align: center;
     font-size: 25px; 
     margin: -45px 0px 0px 0px;
}
.image{
     background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
